# This is a basic workflow to help you get started with Actions

name: Flutter

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      
      # Runs a single command using the runners shell
      - name: get dependencies
        run: flutter pub get
      
      # Analyze code by flutter_lints
      - name: analyze the code
        run: flutter analyze
      
      # Run unit-tests
      #- name: run tests
      #  run: flutter test --platform chrome
      
      #Test apk build
      - name: build apk
        run: flutter build apk
